body{
  margin: 5em;
  background-color: rgb(229, 250, 250) ;
}

header {
  border-bottom: solid black;
}

h1 {
  font-size: 4em;
  border-bottom: solid black;
  color: rgb(55, 202, 247);
}

h1>span{
  display: block;
  color: rgb(113, 230, 238);
  font-style: oblique;
}

h2 {
  color: rgb(72, 180, 230);
}

h3 {
  text-decoration: underline;
  font-style: italic;
  color: rgb(59, 43, 135)
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

aside{
  padding-left: 5%;
  border-left: solid black;
}

footer{
  padding-top: 1em;
  border-top: solid black;
}

footer > p{
  margin: 0;
}

img {
  width: 1em;
}

a {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: rgb(101, 130, 225);
}

nav a:hover {
  color : rgb(24, 87, 182);
}
